 *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:Arial, Helvetica, sans-serif;
    }
 body{
      background-color: black;;
    }
 .container {
      
      margin: 0 auto;
      padding: 20px;
      
    }

   .ll1, .ll2, .ll3, .ll4, .ll5, .ll6 {
      display: flex;
      justify-content: center;
      
    }

 button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      width: 150px;
      height: 50px;
      background-color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    }
   
  .p1{
       color: white;
       font-size: 50px;
       font-weight: bold;
       margin-bottom: 100px;
       text-align: center;
     }
  .b:hover {
       background-color: rgb(26, 239, 23);
       box-shadow: 0 0 10px rgb(26, 239, 23);
       transform:scale(1.05);
     }
  .lo1, .lo2, .lo3, .lo4, .lo5, .lo6, .lo7, .lo8, .lo9, .lo10, .lo11, .lo12, .lo13, .lo14, .lo15, .lo16 , .lo17, .lo18{
        

       padding: 10px 20px;
       width: 150px;
       height: 120px;
       border: white solid 2px;
       border-radius: 5px;
       cursor: pointer;
       margin-right: 20px;
       box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
       margin-bottom: 20px;

     }
  
  .l1 , .l2 , .l3 , .l4 , .l5 , .l6 {
       display: flex;
       justify-content: center;
     }
  
    .b{
    
       margin-bottom: 100px;
       margin-right: 30px;
       border: black solid 2px;
     }
    .display{
       color: rgb(16, 209, 6);
       font-size: 50px;
       font-weight: bold;
       margin-bottom: 50px;
       text-align: center;

     }
    .answer{
      position: sticky;
      top: 0;
      background-color: rgb(0, 0, 0);
      
    }
    .bill{
      width: 300px;
      height: 150px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
      margin: 20px auto;
      align-items: center;
      padding: 20px;
    }
    .p2{
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
    }
   .rps{
      margin-top:30px;
      background:linear-gradient(90deg,#2236ce,#9333ea);
      padding:15px 25px;
      border-radius:12px;
      font-weight:bold;
      box-shadow:0 4px 15px rgba(0,0,0,0.4);
      color:white;
      text-decoration:none;
      width: 500px;
      margin-bottom: 50px;
      text-align: center;

   }
   .rps:hover{
     transform:scale(1.05);
     background:linear-gradient(90deg,#9333ea,#2236ce);
   }
   .rpsdiv{
    display:flex;
    justify-content: center;
   }