*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

.navigation{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    background: linear-gradient(to right, #ff0000, #0000ff);
    width: 1000px;
    height: 250px;
    font-size: 50px;
    margin-left: 175px;
}
.p1{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.l1{
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    text-align: center;
}
.l2{
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.h1{
    width: 400px;
    height: 100px;
    color: #000000;
}
