.box{
   text-align: center;
   font-size: 50px;
   font-weight: bold;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
}
body{
    background: linear-gradient(180deg, #87CEEB 0%, #E0F6FF 100%);
    padding: 0 ;
    margin: 0;
    height: 100vh;          

}

#dropzone1{
    width: 150px;
    height: 150px;
    background: black;
    top: 100px;
    left: 0;
    position: absolute;
}

